{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
 <header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">

        <!-- <img src="{% static 'img/home-bg.jpg' %}"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Affordable Tax Relief</h1>
                        <hr class="small">
                        <span class="subheading">Abisoye Adekoya</span>

                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


    <h2>Abisoye Adekoya</h2>

            <img src="{% static '/img/profile.jpg' %}">

            <p>
                Abisoye has been in the financial services industry since 1980.
                He holds both a Series 7 and Series 24 License.
                He is a 1977 graduate of the University of Illinois at Chicago
                with a Bachelors degree in Marketing. In 2005 he received an LLM
                in Taxation from the St. Thomas School of Law.
            </p>

            <p>
                Abisoye has been an Enrolled Agent, as designated by the
                Department of the Treasury since 1990. He passed all four parts
                of the Special Enrollment Examination on his first attempt.
                Abisoye is a member of the National Association of Enrolled Agents.
            </p>

            <p>
                Over the years his practice has grown at a steady rate, with increasing
                focus on small and medium size enterprises. The retention
                of clients year after year has been outstanding. Some new clients have
                come from the large chain tax preparation companies. Many new clients
                say that his service is excellent and his pricing is very competitive.
            </p>

            <p>
                Abisoye is a long-time resident of Chicago where he enjoys playing golf,
                racquetball, skiing and traveling.
            </p>




{% endblock %}